            .DivList{
                width:250px;
                column-count:2;
                column-gap:10px;
                background-color:yellow;
            }

            #division{
                margin:5px;
                padding:5px;
                width:100px;
                height:100px;
                text-align:center;
                line-height:100px;
                float:left;
                background-color:red;
                color:white;
            }